<h2>Create new licence</h2>

<%= form_for :licence, :url => licence_create_path do |f| %>
	Licence name: <%= f.text_field :name %><br />
	Priority: <%= f.text_field :priority %><br />

	<%= f.submit %>
<% end %>