<h1> WELCOME <%= @user_name %> </h1>

<h2> Upcoming games: </h2>

<% @user_games.each do |user_game| %>
	<div> 
		<p><%= user_game.game.home_team.name %> VS <%= user_game.game.away_team.name %></p>
		<p><%= user_game.game.event_time %></p> 
	</div>

<% end %>
